<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>BatBox'd</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="login">
			<div style="text-align: center;">
				<h1 style="font-size: xxx-large; margin-bottom: 20px; font-weight:normal"><b style="font-size: xxx-large;">Login</b></h1>
			</div>
			<div class="links">
				<a href="{{ url_for('login') }}" class="active">Login</a>
				<a href="{{ url_for('register') }}">Register</a>
			</div>
			<form action="{{ url_for('login') }}" method="post">
				<input type="text" name="username" placeholder="Username" id="username" required>
				<input type="password" name="password" placeholder="Password" id="password" required>
				<div class="msg">{{ msg }}</div>
				<button class=grey style="height:45px;width:400px;background-color: white;" type="submit" value="Login"><b>Login</b></button>
			</form>
		</div>
	</body>
</html>