<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Register</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="register">
			<div style="text-align: center;">
				<h1 style="font-size: xxx-large; margin-bottom: 20px; font-weight:normal"><b style="font-size: xxx-large;">Register</b></h1>
			</div>
			<div class="links">
				<a href="{{ url_for('login') }}">Login</a>
				<a href="{{ url_for('register') }}" class="active">Register</a>
			</div>
			<form action="{{ url_for('register') }}" method="post" autocomplete="off">
				<input type="text" name="username" placeholder="Username" id="username" required>
				<input type="password" name="password" placeholder="Password" id="password" required>
				<input type="email" name="email" placeholder="Email" id="email" required>
				<div class="msg" style="margin-bottom: 10px;">{{ msg }}</div>
				<button class=grey style="height:45px;width:400px;background-color: white;" type="submit" value="Register"><b>Register</b></button>
			</form>
		</div>
	</body>
</html>